div{
	height: 200px;
	width: 200px;
	position: relative;
}
body{
	margin:10px;
	padding: 0;

}
.red{
	background-color: #ED2251;
	position: relative;
}
.blue{
	background-color: #3A81BA;
	position: relative;

}
.green{
	background-color: #8BAB42;
	position: relative;
}
